#### Exploratory Data Analysis

##### Write solution & comments for the below questions.

<li>Load & Inspect

Load the csv file (employee_sales.csv) & display
1. First 5 rows
2. Last 5 rows
3. Shape
4. Column names

In [9]:
import pandas as pd
df = pd.read_csv('employee_sales.csv')
#First 5 rows
print(df.head(5))
#Shape of the dataset
print(f'Shape of the dataset: {df.shape}')
#Last 5 rows
print(df.tail(5))

   emp_id   name department  experience    sales   salary       city
0     101   Arun         IT         2.0  50000.0  40000.0  Bengaluru
1     102  Priya         HR         3.0  45000.0  38000.0    Chennai
2     103   John         IT         NaN  60000.0  45000.0        NaN
3     104   Amit    Finance         5.0      NaN  55000.0     Mumbai
4     105   Neha         HR         2.0  42000.0      NaN      Delhi
Shape of the dataset: (10, 7)
   emp_id   name department  experience    sales   salary       city
5     106  Rahul         IT         4.0  70000.0  60000.0  Bengaluru
6     107    NaN    Finance         3.0  48000.0  42000.0      Delhi
7     108   Sara         HR         NaN  52000.0  39000.0        NaN
8     109  Kiran         IT         1.0  30000.0  25000.0    Chennai
9     110  Meena    Finance         6.0  80000.0  65000.0     Mumbai

<li>Missing Value Check

Find
1. Total missing values per column
2. Total missing values in the whole dataset

In [13]:
#Total missing values per column
print(f'Missing values per column: \n{df.isnull().sum()}')
#Total missing values in the whole dataset
print(f'Total missing values in the whole dataset: {df.isnull().sum().sum()}')

Missing values per column:
emp_id        0
name          1
department    0
experience    2
sales         1
salary        1
city          2
dtype: int64
Total missing values in the whole dataset: 7

<li>Basic Statistics

Compute
1. Mean salary
2. Median sales
3. Maximum experience
4. Minimum salary

In [15]:
print(f'Mean salary {df.salary.mean()}')
print(f'Median sales {df.sales.median()}')
print(f'Maximum experience {df.experience.max()}')
print(f'Minimum salary {df.salary.min()}')

Mean salary 45444.444444444445
Median sales 50000.0
Maximum experience 6.0
Minimum salary 25000.0

<li>Filter Data

Filter & Display
1. Employees from IT department
2. Employees with salary > 50000

In [16]:
print('Employees from IT department: \n', df[df.department == 'IT'])
print('\nEmployees with salary > 50000: \n', df[df.salary > 50000])

Employees from IT department:
    emp_id   name department  experience    sales   salary       city
0     101   Arun         IT         2.0  50000.0  40000.0  Bengaluru
2     103   John         IT         NaN  60000.0  45000.0        NaN
5     106  Rahul         IT         4.0  70000.0  60000.0  Bengaluru
8     109  Kiran         IT         1.0  30000.0  25000.0    Chennai

Employees with salary > 50000:
    emp_id   name department  experience    sales   salary       city
3     104   Amit    Finance         5.0      NaN  55000.0     Mumbai
5     106  Rahul         IT         4.0  70000.0  60000.0  Bengaluru
9     110  Meena    Finance         6.0  80000.0  65000.0     Mumbai

<li>Fill Missing Values

1. Fill missing experience with the average experience
2. Fill missing city with "Unknown"

In [17]:
print('Filling missing experience with the average experience: \n', df.experience.fillna(df.experience.mean()))
print('\nFilling missing city with "Unknown": \n', df.city.fillna('Unknown'))

Filling missing experience with the average experience:
 0    2.00
1    3.00
2    3.25
3    5.00
4    2.00
5    4.00
6    3.00
7    3.25
8    1.00
9    6.00
Name: experience, dtype: float64

Filling missing city with "Unknown":
 0    Bengaluru
1      Chennai
2      Unknown
3       Mumbai
4        Delhi
5    Bengaluru
6        Delhi
7      Unknown
8      Chennai
9       Mumbai
Name: city, dtype: object

<li>Create a New Column

performance = sales > 50000

In [27]:
performance = df.salary > 50000
new_df = df[performance]
print(new_df.head(5))

   emp_id   name department  experience    sales   salary       city
3     104   Amit    Finance         5.0      NaN  55000.0     Mumbai
5     106  Rahul         IT         4.0  70000.0  60000.0  Bengaluru
9     110  Meena    Finance         6.0  80000.0  65000.0     Mumbai

<li>Grouping & Aggregation

Find
1. Average salary by department
2. Total sales by city

In [23]:
print('Average salary by department: \n', df.groupby('department').salary.mean())
print('\nTotal sales by city: \n', df.groupby('city').sales.sum())

Average salary by department:
 department
Finance    54000.0
HR         38500.0
IT         42500.0
Name: salary, dtype: float64

Total sales by city:
 city
Bengaluru    120000.0
Chennai       75000.0
Delhi         90000.0
Mumbai        80000.0
Name: sales, dtype: float64

<li>Sorting

Sort the datasets by
1. Salary in descending order
2. Experience in ascending order

In [24]:
print('Salary in descending order: \n', df.sort_values(by='salary', ascending=False))
print('\nExperience in ascending order: \n', df.sort_values(by='experience', ascending=True))

Salary in descending order:
    emp_id   name department  experience    sales   salary       city
9     110  Meena    Finance         6.0  80000.0  65000.0     Mumbai
5     106  Rahul         IT         4.0  70000.0  60000.0  Bengaluru
3     104   Amit    Finance         5.0      NaN  55000.0     Mumbai
2     103   John         IT         NaN  60000.0  45000.0        NaN
6     107    NaN    Finance         3.0  48000.0  42000.0      Delhi
0     101   Arun         IT         2.0  50000.0  40000.0  Bengaluru
7     108   Sara         HR         NaN  52000.0  39000.0        NaN
1     102  Priya         HR         3.0  45000.0  38000.0    Chennai
8     109  Kiran         IT         1.0  30000.0  25000.0    Chennai
4     105   Neha         HR         2.0  42000.0      NaN      Delhi

Experience in ascending order:
    emp_id   name department  experience    sales   salary       city
8     109  Kiran         IT         1.0  30000.0  25000.0    Chennai
0     101   Arun         IT         2.0  50000.0  40000.0  Bengaluru
4     105   Neha         HR         2.0  42000.0      NaN      Delhi
1     102  Priya         HR         3.0  45000.0  38000.0    Chennai
6     107    NaN    Finance         3.0  48000.0  42000.0      Delhi
5     106  Rahul         IT         4.0  70000.0  60000.0  Bengaluru
3     104   Amit    Finance         5.0      NaN  55000.0     Mumbai
9     110  Meena    Finance         6.0  80000.0  65000.0     Mumbai
2     103   John         IT         NaN  60000.0  45000.0        NaN
7     108   Sara         HR         NaN  52000.0  39000.0        NaN

<li>Count by Category

Count
1. Number of employees per department
2. Number of employees per city

In [26]:
print('Number of employees: \n', df.groupby('department').experience.count())
print('Number of employees: \n', df.groupby('city').experience.count())

Number of employees:
 department
Finance    3
HR         2
IT         3
Name: experience, dtype: int64
Number of employees:
 city
Bengaluru    2
Chennai      2
Delhi        2
Mumbai       2
Name: experience, dtype: int64

<li>Export Cleaned Data

Save the file back to **employee_sales_cleaned.csv**